.body{
    margin: 0;
    padding: 0;
}

img .rental-logo{
    width: 500px;
    height: auto;
    position: absolute;
    top: 8em;
    left: 30%
}

.searchbar #search{
    position: relative;
    width: 50%;
    height: 53px;
    /*top: 10em;
    left: 25%;*/
    margin-top:  40px auto;
    border-radius: 5px ;
    border-style: none;
    font-size: 30px;
}

.searchbar .icon{
    position: absolute;
    top: 19.3em;
    left: 72%;
    transition: background-color 0.3s, transform 0.3s;
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.searchbar .icon::before {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    height: 100%;
    background-color: #f7f7f7;
    border-radius: 50%;
    transform: translate(-50%, -50%) scale(0);
    transition: transform 0.3s ease;
    z-index: -1; /* Place the background behind the icon */
}

.searchbar .icon:hover::before {
    transform: translate(-50%, -50%) scale(2.5);
}

#home{
    text-decoration: 'none'; 
    position: 'absolute';
    top: '30rem'; 
    left: '-23rem'; 
    color: 'black'
}

#properties{
    text-decoration: 'none'; 
    color: 'black'; 
    position: 'absolute'; 
    top: '30rem';
    left: '-12rem';
}

#error{
    color: 'red'; 
    position:'relative';
    top:'22rem';
    left:'25rem';
}