.card-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    position: relative;
    top: -15rem;
    right: 20px;
}

.sort-container #sort{
    cursor: pointer
}

.card {
    display: flex;
    flex-direction: row;
    width: 500px;
    border: 1px solid #ddd;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background-color: white;
    transition: transform 0.2s ease-in-out;
}

.badge {
    position: absolute;
    top: 3px;
    right: 6%;
    background-color: red;
    color: white;
    font-size: 14px;
    font-weight: bold;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}


.card:hover {
    transform: translateY(-5px);
}

.carousel .property_image {
    width: 180px;
    height: 100%;
    object-fit: cover;
}

.card-content {
    padding: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-grow: 1;
}

.liked_one{
    width: 20px;
    cursor: pointer;
    position: relative;
    left: 15em;
}

.homes{
    width: 50px;
    position: relative;
    left: 86rem;
    top: -34.3em;
}

.property_price {
    font-size: 24px;
    font-weight: bold;
    color: #007bff;
    margin-bottom: 10px;
}

.property_description {
    font-size: 14px;
    color: black;
    margin-bottom: 15px;
    font-weight: bold;
}

.property_address {
    font-size: 16px;
    font-weight: bolder;
    color: #333;
}

.property_contact{
    font-size: 16px;
    font-weight: bolder;
    color: #1A2421;
}

.property_contact .icon{
    width: 20px;
    margin-right: 10px;
    position: inherit;
    top: 0.5rem; 
    color: #007bff;
    
}

.property_details {
    display: flex;
    gap: 15px;
    margin-bottom: 10px;
}

.property_detail_item {
    font-size: 14px;
    color: #333;
    display: flex;
    font-weight: bold;
    align-items: center;
}

.property_detail_icon {
    margin-right: 5px;
    font-size: 16px;
}

.card-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-top: 1px solid #ddd;
    padding-top: 10px;
}

.sort-container{
    position: relative;
    top: -24em;
    right: -2%;
}

.rent{
    position: relative;
    float: right;
    top: -26em;
    left: -2%;
    text-decoration: none;
    display: flex;
    gap: 5px;
    color:rgba(0, 0, 0, 0.1)
}

.carousel {
    position: relative;
    display: flex;
    align-items: center;
}

.carousel img {
    width: 100%;
    height: auto;
}

.carousel .prev, .carousel .next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
    z-index: 1;
}

.carousel .prev {
    left: 0;
}

.carousel .next {
    right: 0;
}

.modal {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.8);
}

/* Modal content */
.modal-content {
    background-color: #fefefe;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    position: relative;
}

/* Close button */
.close {
    position: absolute;
    top: 10px;
    right: 20px;
    color: #aaa;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
}

.close:hover,
.close:focus {
    color: #000;
}

/* Carousel in modal */
.modal-carousel {
    display: flex;
    align-items: center;
    justify-content: center;
}

.modal-property-image {
    width: 80%;
    max-width: 900px;
    height: auto;
    margin: 0 15px;
}

.prev,
.next {
    background-color: transparent;
    border: none;
    color: black;
    font-size: 30px;
    cursor: pointer;
}

.prev:hover,
.next:hover {
    color: #ddd;
}

.search-container #search{
    position: absolute;
    width: 30%;
    height: 53px;
    top: 8em;
    left: 35%;
    border-radius: 5px ;
    border-style: none;
    font-size: 25px;
}

.search-container .icon{
    position: absolute;
    top: 13em;
    left: 62%;
    transition: background-color 0.3s, transform 0.3s;
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.search-container .icon::before {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    height: 100%;
    background-color: #f7f7f7;
    border-radius: 50%;
    transform: translate(-50%, -50%) scale(0);
    transition: transform 0.3s ease;
    z-index: -1; /* Place the background behind the icon */
}

.search-container .icon:hover::before {
    transform: translate(-50%, -50%) scale(2.5);
}


.homes {
    position: relative;
    display: inline-block;
}

.heart-icon {
    width: 30px;
    height: 30px;
    cursor: pointer;
    transition: fill 0.3s ease;
}

