.rent{
    position: relative;
    float: left;
    top: -1em;
    left: 2%;
    text-decoration: none;
    display: flex;
    gap: 5px;
    color:rgba(0, 0, 0, 0.1);
}

.rent .font{
    display: flex;
    gap: 5px;
    font-weight: bold;
    font-size: 17px;
}

@media (max-width: 768px) {
    .rent{
        gap: 1px;
        position: relative;
        margin-left: 1rem;
    }
}
